
# Editorconfig file to govern editor style
# see https://EditorConfig.org

# top-most file; don't continue searching beyond the root of this repo
root = true

# applies to all files in this repo
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 99

# applies to JSON and YML files
[{*.json,.*.yml}]
indent_style = space
indent_size = 2

